@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
}

.conainervid {
  max-height: 700px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  background: #77777e;
  width: 100%;
  height: auto;
}

.logo {
  display: inline-block;
  margin-left: 25px;
}

.video-responsive {
  line-height: 0;
}

@font-face {
  font-family: "RoundedElegance";
  src: url("/fonts/Rounded_Elegance.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

h3 {
  font-family: "RoundedElegance";
  letter-spacing: 3px;
  font-size: 20px;
}

p {
  font-family: "Raleway";
  font-size: 16px;
  font-stretch: 100%;
  line-height: 26px;
}